body {
    background-color: rgb(235, 235, 235);
}

table {
    border: none;
}

table td {
    border: 1px black solid;
    width: 40px;
    height: 40px;
}

table td.black-cell{
    background-color: black;
}

table td.white-cell {
    background-color: white;
}

table td.gray-cell {
    background-color: rgb(190, 189, 189);
}

table td.clickable:hover { 
    background-color: #ffff61
}

div.player-indicator-container {
    padding-bottom: 7px;
    padding-left: 10px;
}

span.player-indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    outline: black 1px solid;
}

span.player-indicator.player-black {
    background-color: black;
}

span.player-indicator.player-white {
    background-color: white;
}